/* BASE */
header,
main,
footer {
    padding-left: 300px;
}

h6 {
    font-size: 1.3em;
    padding: 10px;
    margin: 0;
}

table th {
    border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-clear-button,
input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}


/* TEMA */
.brand-logo{
    padding-left: 40px !important;
}
.collapsible table th + th {
    width: 80px;
    text-align: center;

}
.collapsible table td + td {
    text-align: center;
}

.icon-btn i {
    color: grey;
    cursor: pointer;
    margin: 0 5px;
}

.toolbar {
    z-index: 1000;
}

.card-active {
    background-color: red;
}
.card-image .card-title {
    font-size: 2.3em;
}

.text-shadow {
    text-shadow: 1px 1px #222222;
}

.card-block {
    height: 100px;
}

.calendario-numero {
    font-size: 4em;
}

.calendario-hora {
    font-size: 1.8em;
    font-weight: 300;
}

.calendario h6 {
    font-weight: 300;
}
@media only screen and (max-width: 992px) {
    header,
    nav,
    main,
    footer {
        padding-left: 0;
    }
    .brand-logo{
        padding-left: 0px !important;
    }
}

