header,
main,
footer {
    padding-left: 300px;
}

nav .nav-content {
    padding-left: 20px;
}

@media only screen and (max-width: 992px) {
    header,
    nav,
    main,
    footer {
        padding-left: 0;
    }
}